a {
    color: #42b983;
  }
  .icon40{
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: auto 100%;
  }
  .icon_main{
    background-image: url("./../assets/main.ico");
  }